body {
    padding-top: 50px;
}

.button-row{
    text-align:right;
    padding:0 15px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.form-row {
    padding: 10px 0;
}

.form-row select {
    /* margin:4px; */
}

.attribution {
    padding-top: 20px;
    text-align: center;
    color: #666;
    font-size: 0.9em;
}

.quest-item {
    display: flex;
    border-top: 1px solid #eee;
    padding: 4px;
}

.key-type {
    width: 32px;
    padding-top: 10px;
}

.key-type.key .key-indicator {
    background-color: #72c1fa;
}

.key-type.urgent .key-indicator {
    background-color: #cd4c4c;
}

.key-type.pre-req .key-indicator {
    background-color: #ffadff;
}

.key-indicator {
    background-color: #BBB;
    border-radius: 50%;
    width: 18px;
    height: 18px;

    margin: auto
}

.quest-item .header {
    display: block;
    font-size: 1.1em;
}

.quest-item .sub-text {
    color: #b4b4b4;
}

.header.gather {
    color: #468f46;
}

.header.capture {
    color: #5959ba;
}

.header.slay {
    color: #951414;
}

.header.hunt {
    color: #e97c8f;
}

.quest-monster {
    flex: 1;
    text-align: right;
    padding-right: 8px;
}

#hubRank,
#villageRank {
    display: none;
}

.key-quest-label {
    font-weight: normal;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.toggle.btn {
    float: right;
}

.key-quest-label span {
    padding-top: 8px;
    display: inline-block;
}

.quest-item:hover,
.quest-item:focus {
    background-color: #f7feff;
}

#indicator-key {
    margin-top: 19px;
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 10px;
}

#indicator-key h3 {
    margin: 6px;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #898989;
    margin-bottom: 0;
}

#indicator-key .key-type {
    width: 100%;
    text-align: left;
}

#indicator-key .key-type .key-indicator {
    margin: 0px 10px;
    float: left;
}

#indicator-key small {
    /* display:block; */
}

@media (min-width: 768px) {

    .quest-item .sub-text,
    .quest-item .header {
        display: inline-block;

        line-height: 25px;
    }

    .quest-item .quest-title .header {
        width: 300px;
    }

    .quest-item .quest-monster .header {
        float: right;
        width: 140px;
    }

    .key-type {
        width: 46px;
        padding-top: 2px;
    }

    .key-quest-label {
        margin-top: 0;
    }

    .form-row {
        padding: 22px 0;
    }

    #indicator-key {
        max-width: 600px;
        margin: 30px auto;
        min-height: 100px;
    }

    #indicator-key .key-type {
        float: left;
        width: 50%;
        margin: 5px 0;
    }
}

#navMenuContainer {
    margin: auto;
    height: 50px;
    position: relative;
    margin-top: -50px;
}

#navMenu {
    position: absolute;
    top: 40px;
    z-index: 1031;
    right: 0px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 3px 3px 10px #b1b1b1;
    display: none;
}

#navMenu ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-bottom: 0;
}

#navMenu ul li {
    display: block;
    border-bottom: 1px solid #f1f1f1;
}

#navMenu ul li:hover {
    background: #f1f1f1;
}

#navMenu ul li:last-child {
    border-bottom: none;
}

#navMenu ul li a {
    display: block;
    padding: 10px 20px;
}

.navbar-header {
    display: inline-block;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
}

.navbar {
    height: 40px;
}

.navbar-nav {
    margin: 0 -15px;
}

/***************************************
 * Weapons Stuff
 ***************************************/
.weapon-control {
    height: 38px;
    position: relative;
    z-index: 2;
}

.weapon-control.second {
    z-index: 1;
}

.weaponList {
    border: 1px solid #ddd;
    background-color: white;
    display: none;
}

.weaponOption {
    background-color: #eff8ff;
    cursor: pointer;
    padding: 3px;
    margin: 2px;
}

.weaponOption:hover {
    background-color: #d5e4f1;
}

.weaponOption span {
    float: right;
}

/***************************************
 * Weapons Box
 ***************************************/
.weapon {
    font-size: 1.2em;
    color: white;
    background: #262624;
    border: 3px solid #367979;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin: 2px;
    padding: 0 8px;
    display: none;
    position: relative;
}

@media screen and (min-width:700px) {
    .weapon {
        width: 49%;
        float: left;
        margin: 0.4%;
    }
}

@media screen and (min-width:1024px) {
    .weapon {
        width: 32.7%;
        float: left;
        margin: 0.31%;
    }
}



.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.weapon-icon {
    background-color: black;
    padding: 0px;
    border: 1px solid #696969;
    margin-bottom: 5px;
}

.weapon-label,
.weapon-value {
    display: inline-block;
}

.weapon-label.elem-label{
    width:50px;
}
.weapon-value.elem-value{
    width:80px;
}

.weapon-label {
    /* color: #2262a2; */
    /* color: #588abb; */
    color: #185ea0;
    width: 28%;
    font-weight: bold;
}

.weapon-value {
    width: 18%;
}

.weapon-value.last {
    text-align: right;
}

.weapon-row {
    border-bottom: 1px solid #696969;
    padding-top: 6px;
}

.slot {
    border: 2px solid white;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
}

.no-slot {
    width: 12px;
    border: 2px solid #eeee;
    height: 0px;
    display: inline-block;
    margin-bottom: 4px;
    margin-bottom: 4px;
}

.sharpness {
    border: 2px solid #696969;
    display: inline-block;
    width: 60%;
    height: 14px;
}

.sharpness span {
    height: 10px;
    width: 7%;
    display: block;
    float: left;
}

.sharpness .red {
    background-color: #f70211;
}

.sharpness .orange {
    background-color: #f89606;
}

.sharpness .yellow {
    background-color: #f8f70d;
}

.sharpness .green {
    background-color: #03d107;
}

.sharpness .blue {
    background-color: #0803d1;
}

.sharpness .white {
    background-color: #FFFFFF;
}

.sharpness .purple {
    background-color: #7103d1;
}

.red-row {
    height: 18px;
    background-color: #5a1d22;
    margin: -1px -8px;
    font-size: 0.8em;
    text-align: center;
    color: #de7e8e;
}

.red-row a{
    
    font-size: 10px;
    padding-left: 10px;
    /* padding-bottom: 10px; */
    text-transform: uppercase;
    /* line-height: 21px; */
    /* display: inline-block; */
    text-decoration: underline;
    /* margin-top: -8px; */
}

/***************************************
 * Weapons Skill Section
 ***************************************/
.new-skill {
    text-align: center;
}

.new-skill a {
    font-size: 12px;
    text-decoration: underline;
}

.skill-row {
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #444;
}

.skill-row select {
    border: 1px solid #8e8e8e;
    font-size: 12px;
    background: #383838;
}

.skill-dropdown {
    padding: 10px 10px 10px 0px;
}

.skill-details {
    text-align: right;
    flex-grow: 1;
}

.single-skill {
    display: none;
}


/***************************************
 * MODAL
 ***************************************/
#modal-container{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000c7;
    z-index: 1040;
}

.damage-modal{
    background-color: white;
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 40px;
    position: relative;
    margin-top: 20%;
    border-radius: 4px;
}

.damage-modal .close-icon{
    font-size:16px;
    float: right;
}

.damage-modal h1{
    font-size: 32px;
    color: #656565;
    margin-top: 0;
}
.damage-modal h2{
    font-size: 16px;
    color: #8a8a8a;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

#damage-details table tr td{
    padding:3px;
}

.table-head{
    font-weight:bold;
    text-transform: uppercase;
    color:#888;
}





a.button{
    display: inline-block;
    padding: 10px 20px;
    background: #3379b9;
    color: #fff;
    border-radius: 4px;
}
.container.armor::before{
    display:none;
}
div.armor{
    width:100%;
    overflow:hidden;
}
.armor-viewport.step-two{
    margin-left:-100%;
}

.armor-viewport.step-three{
    margin-left:-200%;
}
.armor-viewport .available-skills,
.armor-viewport .charms,
.armor-viewport .results{
    padding:15px;
}
.armor-viewport{
    width:100%;
    display:grid;
    transition: margin 0.5s;
    margin-left:0;
    grid-template-columns: 100% 100% 100%;
}

@media only screen and (max-width: 5500px){
    .container.armor{
        max-width:100%;
        overflow:hidden;
    }
}
.container.armor h1{
    font-size:18px;
}
.container.armor .available-skills{
}

@media only screen and (min-width: 500px){
    .skill-container{
        width:100%;
        padding:4px;
        float:left;
    }

    .selectedSkillsContainer a.skill{
        width:200px;
        float:left;
    }

    #skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

a.skill{
    background: #e8e8e8;
    color: #6b6b6b;
    padding: 4px;
    border-radius: 3px;
    margin: 2px;
    display: block;
    border: 1px solid #bdbdbd;
}
a.skill.disabled, a.skill.disabled:hover{
    color: #d4d4d4;
    cursor: default;
    background-color: #f9f9f9;
    text-decoration: none;
    border: 1px solid #d8d8d8;
}
.fa-check-circle{
    color:#e8e8e8;
}
.fa-check-circle.selected{
    color:#4cad4c;
}
.selectedSkillsContainer{
    background-color: #696969;
    padding: 4px;
    border-radius: 3px;
    margin-top:20px;
}
.selectedSkillsContainer h1{
    color:white;
    margin:0;
    font-size:14px;
    text-transform: uppercase;
    font-weight: 300;
    text-align:center;
}
.selectedSkillsContainer .empty{
    color:#d2d2d2;
    text-align:center;
    padding:10px;
}
.button{
    background:blue;
    color:white;
    border-radius: 4px;
}
.progress-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:-10px;
}
#steps{
    padding: 15px;
    margin-top: 10px;
}
.line{
    width:100%;
    background-color: #ccc;
    height:3px;
}
.progress-line{
    height:3px;
    background-color: #de4df9;
}
.step{
    width:20px; 
    height:20px;
    transition: all 1s;
    border-radius: 50%;
    background:#ccc;
}
.step-text{
    transition: all 1s;
    color:#ccc;
}
.step-two{
    margin: auto;
}
.step.step-three{
    margin-left: calc(100% - 20px);
}
.step-text.step-three{
    text-align: right;
}

#steps .progress-line{
    width:2%;
    transition: width 0.3s;
}
#steps.step-two .progress-line{
    width:50%;
}
#steps.step-three .progress-line{
    width:100%;
}
#steps.step-two .step.step-one,
#steps.step-two .step.step-two,
#steps.step-three .step,
#steps.step-one .step.step-one{
    background-color: #de4df9;
}
#steps.step-two .step-text.step-one,
#steps.step-two .step-text.step-two,
#steps.step-three .step-text,
#steps.step-one .step-text.step-one{
    color: #de4df9;
}


.button-container{
    display:flex;
    justify-content: space-between;
}

#newCharmForm{
    margin-top:10px;
    padding:10px;
    border:1px solid #ddd;
}
#newCharmForm h4{
    margin-top:0;
}
#newCharmForm .row{
    margin-top:8px;
}

#currentCharms{
    border: 1px solid #bd8828;
    padding: 6px;
    background: #fff7e0;
    border-radius: 4px;
}